
ul {
    list-style: none;
}

/*posicion del menu del carrito*/

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

/*estilo de la carta del item */

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

/*info adentro card*/

.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}
    
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

