
ul {
    list-style: none;
}

/*posicion del menu del carrito*/

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

#lista-cursos .row {
    margin-bottom:20px;
    
}

.agregar-carrito {
    margin:10px 0;
}
/*estilo de la carta del item */

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
   
}

/*info adentro card*/

.info-card  {
    padding: 10px 20px;
    background: white;
    
}

.info-card a {
    background: white;
    color: #C70A80;
    font-weight: bold;
    
}

.info-card a:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}
.info-card p, 
.card h4 {
    margin-bottom: 5px;
    font-family: 'Sacramento', cursive;
    background: white;
}
  
.info-card h4{
    font-size: 32px;
    font-weight: 700;
    color: #590696;

}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
    background: white;
}

.card{
    width: 300px;
    height: 400px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24),7px 6px 28px 1px rgba(0, 0, 0, 0.24),7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    
}

.encabezado{
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
    margin-bottom: 100px;
    margin-top: 70px;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.servicios h3, h5,a{
   
    text-decoration: none;
    
}


.boton{
    background-color: white;
    color: #C70A80;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.2 all;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

}

.boton:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/*
.info:hover{
    color: violet;
    animation: flash;
    animation-duration: 2s; 
}
*/