.formula{
    background-color: #C70A80;
    margin-top: 5%;
    width: 700px;
    padding: 30px;
    position: relative;
    left: 375px;
    margin-bottom: 5%;
}

.formula form{
    background-color: #C70A80;
    letter-spacing: 2px;
    
}

.formula h3{
    background-color: #C70A80;
    margin-top: 7px;
    font-size: 30px;
    color: white;
}

.contact h1{
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
}


.boton{
    background-color: white;
    color: #C70A80;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.2 all;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

}

.boton:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

input{
    border-radius: 9px;
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


/*
.contenido {
    margin-top: 40px;
    font-size: 28px;
}



.ubicacion{
    position: relative;
}

hr{
    border-style: groove;
    border-color: #590696;
    border-width: 5px;
}

.cuadro{
    border-style: solid;
    border-width: 15px;
    border-color: black;
    width: 500px;
    position: absolute;
}

.mapouter{
    border-style: solid;
    border-width: 15px;
    border-color: black;
    float: right;
    top: -150px;
}
*/