img{
    width: 500px;
    height: 500px;
}

.bazaar{
    width: 500px;
    height: 500px;
}

.elle{
    width: 500px;
    height: 500px;
}


.glam{
    width: 500px;
    height: 500px;
}

.marie{
    width: 500px;
    height: 500px;
}

.men{
    width: 500px;
    height: 500px;
}

.people{
    width: 500px;
    height: 500px;
}

.stone{
    width: 500px;
    height: 500px;
}

.holly{
    width: 500px;
    height: 500px;
}

.fair{
    width: 500px;
    height: 500px;
}

.vogue{
    width: 500px;
    height: 500px;
}

.wash{
    width: 500px;
    height: 500px;
}

.ellen{
    width: 500px;
    height: 500px;
}

.american{
    width: 500px;
    height: 500px;
}

.norton{
    width: 500px;
    height: 500px;
}