

#formulario{
    font-family: 'IndieFlower-Regular';

}

@font-face{
    font-family: 'titulos';
    src: url('letra1.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
      
}

#formulario{
    font-family: 'letra1';

}