
p{
    font-size: 40px;
    margin-top: 20px;

}


img{
    width: 400px;
    height: 400px;
    margin: 20px;

    
}

img:hover{
    animation: flash;
    animation-duration: 2s; 
}

.mayor h1{
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
    font-size: 50px;
    text-align: left;
    margin-left: 20px;
    text-decoration: underline;

}
.bazaar{
    width: 300px;
    height: 100px;
    
}

.elle{
    width: 300px;
    height: 150px;
}


.glam{
    width: 350px;
    height: 130px;
}

.marie{
    width: 500px;
    height: 100px;
}

.men{
    width: 500px;
    height: 100px;
}

.people{
    width: 300px;
    height: 100px;
}

.stone{
    width: 500px;
    height: 100px;
}

.holly{
    width: 500px;
    height: 150px;
}

.fair{
    width: 500px;
    height: 100px;
}

.vogue{
    width: 300px;
    height: 100px;
}

.ellen{
    width: 300px;
    height: 100px;
}

.american{
    width: 500px;
    height: 300px;
}

.norton{
    width: 500px;
    height: 200px;
}

.bbc{
    width: 300px;
    height: 200px;
}

.carousel .carousel-item{
    user-select: none;
    width: 400px;
    height: 400px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:50px;
    left: 0;
    border-radius: 15px;
}


h1,li{
    font-size: 30px;
    margin-top: 20px;
    
}

ul li a{
    color: #C70A80;
}
