/* PAGINA PRINCIPAL*/


.redes h3 {
    text-align: left;
    top: 100px;
    padding: 16px;
    text-decoration: underline;
    font-size: 30px;
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
    letter-spacing: 2px;
    color: #C70A80;
    font-weight: 200px; 
    
}

.redes li a {
    text-decoration: none;
    color: #590696;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
    
    
    
}

i{
    font-size: 30px;
}

.redes li{
    display: inline;
    padding: 20px;
    list-style: none;
    margin: 10px;
}

.contenido h1{
    color: #C70A80;
    font-weight: 30px; 
    margin: 50px;
    padding: 50px;
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
}

.contenido h1{
    margin: 100px;
    font-size: 60px;
}

.remarcar:hover{
    color:black;
    animation: tada; 
    animation-duration: 2s; 
    margin: 100px;
}



.contenido img{
    width: 600px;
    height: 350px;
    border-color: #C70A80;
    border-style: solid;
    border-width: 30px;
    box-shadow: 0px 35px 44px #590696;
}
#redesMedia li i a{
    animation: flash; 
    animation-duration: 2s; 
}
#redesMedia li i:hover{
    animation: flash; 
    animation-duration: 2s; 
}

.contenido i{
    margin-right: 10px;
}


.contenedor {
    width: 70%;
    margin: 0 auto;
    background: url(imagenes\ de\ pagina\ principal/filmadora.jpg)no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    padding: 30px 33px 67px;
    box-shadow: 0px 35px 44px #590696;
    border-color: #C70A80;
    border-style: solid;
    border-width: 30px;
    text-align: right; 
    
}

form {
    
    background: transparent;
    position: relative;
     
    
} 

.ingresar{
    background: transparent;
}


.contenedor h3 {
    font-size: 50px;
    background-color: transparent;
    text-align: right;
    color: black;
    display: inline-flex;
    margin-right:100px ;
    
        
}
.contenedor p {
    text-align: right;
    font-size: 35px;
    font-weight: bolder;
    background-color: transparent;
    color: black;
    display: flex;
    margin-left: 600px;
    
        
}
.contenedor input {

   
    cursor: pointer;
    display: flex-end;
    margin-right: 20%;
          
    
}

#in,#on{
    background-color: #C70A80;
    border-color: #590696;
    font-weight: bolder;
    font-size: 17px;
    padding: 10px;
    margin-top: 50px;
    margin-right: 120px;
}

.contenedor a {
    background: transparent;
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bolder;
    margin-right: 30px;
    margin-bottom: 10px;
        
    
}

#formu{
    position: relative;
}

.warnings{
    width: 200px;
    text-align:right;
    margin: auto;
    color: rgb(238, 230, 230);
    padding-top: 20px;
    font-weight: bolder;
    background: transparent;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 210px;
    
    
}

FALTA SOLO REMARCAR EL CUADRO



