

p{
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    font-weight: 100px;
}

img{
    border-color: darkmagenta;
    border-width: 50px;
    border-style: solid;
}


blockquote{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
    margin: 30px;
    padding: 30px;
    font-style: italics;
    background-color:#C70A80 ;
    margin-left: 50px;
    color: white;
}

/*
.mensaje{
    margin-top:20px ;
    margin-bottom:20px ;
}
*/
.mensaje .titila{
    animation: flash; 
    animation-duration: 2s; 
    margin-top:20px ;
    margin-bottom:20px ;
   
}

.mensaje .titila:hover{
    animation: heartBeat; 
    animation-duration: 2s; 
    font-weight: 30px;
}

.artistas{
    text-decoration: underline;
    margin-top:100px ;
    margin-bottom:100px ;
    text-align: left;
    margin-left: 25px;

}
/*
.meryl, .kate , .olivia , .leo {
    font-size: 30px;
    margin-top:20px ;
    margin-bottom:20px ;
    padding: 50px;
    text-decoration: underline;
}
*/
.mensaje{
    margin-top: 150px;
}

/*ESTOS SON LOS ESTILOS DE MATERIALIZE*/
/*
.carousel{
    min-height: 700px;
}
*/
.carousel .carousel-item{
    user-select: none;
    width: 400px;
    height: 400px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:50px;
    left: 0;
    border-radius: 15px;
}

/*
.carousel .indicators-items{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #C70A80;
}*/

.fotos{
    border-color: #C70A80;
    border-style: solid;
    border-width: 30px;
    box-shadow: 0px 35px 44px #590696;
    margin-bottom: 100px;
   
}

#mer{
    width: 850px;
    height: 450px;
}

#ka{
    width: 500px;
    height: 650px;
    float: right;
    margin:25px;
}

#oli{
    width: 750px;
    height: 550px;
}
#leo{
    width: 500px;
    height: 650px;
    float: left;
    margin:25px;
    
}

.leo p{
    margin-right: 10px;

}

.subtitulo{
    text-decoration: underline;
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;
    
}

.artistas{
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
    margin-right: 30px;

}

iframe{
    border-color: #C70A80;
    border-style: solid;
    border-width: 30px;
}