/*estilos que iran en todas las paginas*/




.redes {
    text-decoration: underline;
    color: #C70A80;
    font-size: 25px;
    font-family: 'Sacramento', cursive;
    font-weight: 200;
    width: 21%;
    margin: 0;
    padding: 0;
    display: inline;
    border-radius: 0 50% 0 50%;
    position: relative;
    
}

/*pone a la izq el titulo*/

.redes h3 {
    text-align: left;
    position: relative;
}

.redes a {
    text-decoration: none;
    color: #590696;
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-weight: bolder;
    
}

#redesMedia {
    display: flex;
    justify-content: space-around;
    width: 900px;
}

#redesMedia li{
    text-decoration: none;
    list-style: none;
    
    border-style: solid;
    border-color: black;
    border-width: 10px;

    
}

.contenedor {
    width: 70%;
    margin: 0 auto;
    background: url(FILMADORA\ PARA\ FORMULARIO.jpg)no-repeat 0px 0px;
    background-size: cover;
    background-position: center;
    padding: 30px 33px 67px;
    box-shadow: 0px 35px 44px #590696;
    border-color: #C70A80;
    border-style: solid;
    border-width: 30px;
    text-align: right;
}

form {
    text-align: center;
    background: transparent;
}

.contenedor p {
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
    background-color: transparent;
    color: black;
}

.contenedor h3 {
    font-size: 50px;
    background-color: transparent;
    text-align: right;
    color: black;
}

.contenedor input {
    float: right;
}

.contenedor a {
    background: transparent;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.contenido {
    margin-top: 40px;
    font-size: 28px;
}

.contenido blockquote {
    margin-bottom: 20px;
}


/*blockquote{
    font-family: ;
}*/


/*ve para qe sirven
touch-action: manipulation;
    cursor: pointer; ESTE PONERLO EN EL FORMULARIO
    */