
.mis p{
    font-size: 30px;
    margin: 30px;
    padding: 30px;
   
}

/*
.anim{
    animation: tada; 
    animation-duration: 2s;
}
*/

.anim:hover{
    animation: flash; 
    animation-duration: 2s;
}
