
p{
    font-size: 50px;
}





img{
    width: 400px;
    height: 400px;
    margin: 10px;
    float: left;
    
    
}

img:hover{
    animation: flash;
    animation-duration: 2s; 
}

.bazaar{
    width: 300px;
    height: 100px;
    
}

.elle{
    width: 300px;
    height: 150px;
}


.glam{
    width: 350px;
    height: 130px;
}

.marie{
    width: 500px;
    height: 100px;
}

.men{
    width: 500px;
    height: 100px;
}

.people{
    width: 300px;
    height: 100px;
}

.stone{
    width: 500px;
    height: 100px;
}

.holly{
    width: 500px;
    height: 150px;
}

.fair{
    width: 500px;
    height: 100px;
}

.vogue{
    width: 300px;
    height: 100px;
}

.wash{
    width: 500px;
    height: 100px;
}

.ellen{
    width: 300px;
    height: 100px;
}

.american{
    width: 500px;
    height: 300px;
}

.norton{
    width: 500px;
    height: 200px;
}