
body{
    font-family: 'Times New Roman', Times, serif;
}

.proceso h1{
    font-size: 40px;
    font-family: 'Sacramento', cursive;
}


.ofertas h1{
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Sacramento', cursive;
}

.ofertas h3{
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    
    
}


th,td{
    border-style:outset;
     border-width: 5px;
     border-color: #C70A80;
     margin: 0;
     padding: 10px;


}
    
input{
    vertical-align: text-top;
}