
p{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
}

.slogan{
    margin-top: 50px;
    text-shadow: 0 0 5px red, 0 0 15px red, 0 0 25px red, 0 0 35px red;
    font-size: 50px;

}



.oscar{
    text-align: right;
    margin-right: 150px;
    font-weight: bolder;
}


img{
    margin: 20px;
    border-color: #C70A80;
    border-style:double;
    border-width: 23px;
}


.rami{
    border-color: #C70A80;
    border-style:double;
    border-width: 23px;
}

.adri{
    border-color: #C70A80;
    border-style:double;
    border-width: 23px;

}

.jes{
    border-color: #C70A80;
    border-style:double;
    border-width: 23px;
}

.desi{
    border-color: #C70A80;
    border-style:double;
    border-width: 23px;
}

.texto a{
    text-decoration: none;
    font-size: 25px;
    animation: flash; 
    animation-duration: 2s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C70A80;
}

.texto a:hover{
    font-size: 28px ;
    color: black;
}

.texto h3{
    text-shadow: 20px 20px 25px rgb(82, 6, 88);
    font-size: 40px;
    text-decoration: underline;
    margin: 30px;
} 
  